doctype html
html(lang='en')
  head
    script(src='//jashkenas.github.io/underscore/underscore-min.js')
  body
    textarea#input(rows='7')
      | куй
      | звезда
      | джигурда
    input(type="range" id="range" name="" min="40" max="4000" value="300" step="1" )
    #range-val
    #output
