body
  font-family sans-serif
textarea
  display block
  margin auto
  text-align center
  width 298px
  padding 0
#range
  width 90%
  float: left;
  padding: 0;
  margin: 0;
  
#range-val
  float: right;
  width: 10%;
  text-align: right;


p
  margin 0
  span
    vertical-align top
    line-height: 1;
#output
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  clear: both;
  transform translateX(-50%);
  position absolute;
  left: 50%;
  margin-top: 1em;